body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #d4af37;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1px;
}
.contact-container{
    margin-top: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    justify-items: center;
    align-items: center;
}
h1{
    color: white;
    text-align: center;
    margin-top: 700px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150px;
}
h2{
    font-size: 100px;
    color: white;
    font-style: initial;
}
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    justify-items: center;
    font-size: 50px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.layout{
    width: 200px;
    height: 200PX;
    background-color: #d4af37;
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: large;
}
.layout i{
    font-size: 100px;
    color: #121212;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
    justify-items: center;
}
.contact-form input,
.contact-form textarea{
    width: 2000px;
    height: 90px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 50px;
}
.contact-form button{
    font-style: bold;
    width: 2030px;
    height: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d4af37;
    color: #121212;
    font-size: 40px;
    font-style: inherit;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #b5862b;
}